doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Report
    style 
      include pug-styles.css
  body
    .report
      .logo-segment
        .logo
          img.svg(src='carpass_logo.svg', alt="carpass logo")

      - const firstSections = sections.slice(0,2)
      - const bodySections = sections.slice(2)
      
      .first-list-container
        each section in firstSections
          .header-section
            .header
              img(src="icon.png", alt="Small icon")
              h2 #{section.title}

            .lists-container
              each row in section.rows 
                  .first-list-item
                    .question-answer
                      strong  #{row.data.question}
                      span  #{row.data.answer}
      
      hr

      each section in bodySections
        .header-section
          .header
            img(src="icon.png", alt="Small icon")
            h2 #{section.title}

          .lists-container
            each row in section.rows 
                .list-item
                  .question-answer
                    strong  #{row.data.question}
                    span  #{row.data.answer}

